@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  outline: 0;
  scroll-behavior: smooth;
}

.color-bg {
  background: #F9F8FE;
  padding: 10px;
  font-weight: bold;
}


@media (max-width: 768px) {
  body {
    padding: 0 10px;
  }

  header {
    flex-direction: column;
    padding: 10px 0;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .logo img {
    width: 120px;
  }
}

@media (max-width: 480px) {

  .search-bar input {
    width: 100%;
  }
}