.checkout-wrapper {
  padding: 2rem;
  background-color: #F9F8FE;
  min-height: 100vh;
}

.checkout-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
}

.formulario-checkout {
  flex: 1;
  min-width: 600px;
  max-width: 800px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.formulario-checkout h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1px;
  color: #1F1F1F;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

legend {
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.75px;
  margin-bottom: 1rem;
  color: #474747;
  text-align: left;
  padding-bottom: 1rem;
  border-bottom: 1px solid #CCCCCC;
  width: 100%;
}

label {
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.75px;
  color: #474747;
}


input,
textarea,
select {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  border-radius: 6px;
  font-size: 14px;
  background-color: #F5F5F5;
  box-sizing: border-box;
}

.linha-cartao {
  display: flex;
  gap: 1rem;
}

.linha-cartao input {
  flex: 1;
}

.forma-pagamento {
  display: flex;
  gap: 3rem;
  margin-bottom: 0.5rem;
}

.forma-pagamento label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  white-space: nowrap;
}

.btn-finalizar {
  background-color: #F6AA1C;
  color: #F5F5F5;
  font-weight: bold;
  padding: 0.5rem;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
  width: 100%;
}

.btn-finalizar:hover {
  background-color: #b88526;
}

.resumo-checkout {
  width: 350px;
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.resumo-checkout h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.75px;
  color: #474747;
  width: 290px;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 1rem;
  margin-top: -0.5rem;
  margin-left: -0.1rem;
}

.resumo-checkout p {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  font-size: 14px;
  color: #333;
}

.resumo-checkout .parcelado {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.25px;
  text-align: right;
  color: #8F8F8F;
  text-align: right;
}

.resumo-checkout .resumo-total {
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.75px;
  color: #1F1F1F;
  background-color: #F6AA1C0D;
}

.produto-resumo {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 290px;
  border-bottom: 1px solid #CCCCCC;
}

.produto-resumo img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.resumo-mobile {
  display: none;
}

@media (max-width: 768px) {
  .checkout-content {
    flex-direction: column;
  }

  .resumo-checkout {
    width: 100%;
    margin-top: 2rem;
  }

  .resumo-mobile {
    display: block;
    text-align: center;
    margin-top: 2rem;
  }

  .resumo-checkout button.btn-finalizar {
    display: none;
  }
}